.btn:focus {
  box-shadow:none;
}

.movie-box{
  width: 300px;
}

@media only screen and (min-width: 576px) {
  .scaleDown{
    max-height: 240px;
    object-fit: scale-down;
  }
  .movie-box{
    width:410px;
    position: relative;
  }
  .movie-box button{
    position: absolute;
    width: 67px !important;
    right: 0;
  }
  
}
